.App-logo {
    height: 5vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#navbarNavAltMarkup {
  justify-content: flex-end;
}

.nav-link > .active {
  border-bottom: 1px solid #333;
}
.navbar-brand {
  font-family: 'Prata', serif;
  font-size: 1.5rem;
}

